
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat&family=Roboto:wght@300&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

/* INICIO SECCION HEADER */
header {
  background-color: transparent;
  background-size: cover;
  min-height: 10vh;
}

.colorAM{
  color: #000;
}




/* FIN SECCION HEADER */



/* SECCIONES DEL MAIN */

/* Da el color a los botones de las paginas de compra */
.btn{
  background-color: #000;
  color: #fff;
}


main{
    margin-top: 5%;
    margin-bottom: 5%;
}

.accion{
    text-align: center;
}
.btn-danger{
    border-color: #000;
}

.btn-info{
    border-color: #000;
}

.btn-info:hover{
    color: black;
    background-color: greenyellow;
    border-color: greenyellow;
}

/* FIN SECCIONES DEL MAIN */



/* INIICIO FOOTER */
/* Se le da el color al footer asi como un margin*/
footer{
    margin-top: 4%;
    color: black;
    background-color: #fff;
  
}

/* FIN FOOTER */




/* INICIO NAVBAR */
/* Da el tamanno de letra al navbar y lo ubica un poco abajo */
.navbar{
  padding-top: 3%;
  font-size: 2vh;
}

/* Sirve para separar el navbar Brand de los links */
.navbar-collapse{
   flex-grow: 0;
}

/* Da el tamanno deaseado el navbar brand ademas, se le da el color y es */
.navbar-brand{
  color: #000;
  font-size: 5vh;
}

/* El color que se le pondra al navbar brand si nos posicionamos sobre el */
.navbar-brand:hover{
  color: #000;
}

.nav-item{
color: #000;
}
/* El color de los links del navbar */
.nav-item .nav-link{
  color: #000;
}

/* Sirve para que el dropdown no tenga color y se ajuste al resto del navbar */
.dropdown-menu{
  background-color: #fff;
}
/* Darle el color de letra a los items del dropdown */
.dropdown-item{
  color: #000;
}
/* Darle el background color y el color de letra a los items del dropdown cuando estamos encima con el mouse */
.dropdown-item:hover{
  color: #fff;
  background-color: #000;
}

/* Darle el background color y el color de letra a los items del navbar cuando estamos encima con el mouse */
.nav-item .nav-link:hover{
  background-color: #000;
  color: #fff;
}




/* FIN NAVBAR */


/* OTROS ELEMENTOS*/
/* Color y tamanno de los iconos de lista  y de el carrito */
.bi-list{
  color: #000;
  font-size: 4vh;
}
.bi-cart{
  color: #000;
  font-size: 2vh;
}

.main-container{
  margin-top: 2%;
}

.borde{
  border-top: rgb(203, 203, 203) solid 2px;
}